#test {
  color: gray;
}
* {
  outline: solid 1px red;
}
.spaceS {
  margin: 10px 0 0;
}
.spaceM {
  margin: 20px 0 0;
}
input {
  width: 200px;
  height: 3em;
}
.list {
  width: 200px;
}
#container {
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.inputBox {
  width: 350px;
  display: flex;
  align-items: center;
}
.btnSize {
  text-align: center;
  width: 50px;
  display: block;
}
