@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
#test {
  color: gray;
}
* {
  outline: solid 1px red;
}
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
h1 {
  color: #fff;
  background-color: #07575B;
}
.spaceS {
  margin: 10px 0 0;
}
.spaceM {
  margin: 20px 0 0;
}
input {
  width: 200px;
  height: 3em;
}
.list {
  width: 200px;
}
#container {
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.inputBox {
  width: 350px;
  display: flex;
  align-items: center;
}
.btnSize {
  text-align: center;
  width: 50px;
  display: block;
}
