@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
#test {
  color: gray;
}
* {
  out?line: solid 1px red;
}
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    padding: 5px;
    background-color: greenyellow;
  }
h1 {
  font-size: 25px;
  color: #fff;
  background-color: #07575B;
  border-radius: 10px;
  padding: 10px;
}
p {
  margin: 2px 0;
}
.spaceS {
  margin: 10px 0;
}
.spaceM {
  margin: 20px 0;
}
input {
  width: 250px;
  height: 3em;
}
.list {
  width: 150px;
}
#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
  align-items: start;
}
.box {
  color: #fff;
  background-color: #90AFC5;
  border-radius: 10px;
  border: solid 1.5px #000;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 50px;
  width: auto;
  margin: 0;
  flex-direction: column;
  padding: 15px;
}
.inputBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.btnSize {
  text-align: center;
  background: #2A3132;
  width: 60px;
  border-radius: 10px;
  display: block;
  margin: 5px 0;
}
button {
  font-size: 20px;
  color: #fff;
  background: #763626;
  width: 80px;
  height: 2em;
  border-radius: 10px;
  margin-left: 5px;
}
.boxM {
  background-color: #fff;
  border-radius: 10px;
  border: double 3px #2A3132;
}
.dateS, span {
  font-size: 15px;
}
.snippetS {
  font-size: 20px;
  font-weight: bold;
}
.topM {
  margin-top: 25px;
}
.showBtn {
  width: 100px;
}
.posMain {
  position: relative;
}
.posRight {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.posLeft {
  justify-content: flex-start;
}
.btnBox {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
#hit, #text {
  margin-left: 7px;
}
#cate, #cate2, #dateSort {
  font-size: 20px;
  color: #000;
  background: #fff;
  width: 200px;
}
.selectbox-2 {
  position: relative;
  margin: 5px 0 0 5px;
}
.selectbox-2::before,
.selectbox-2::after {
  position: absolute;
  content: '';
  pointer-events: none;
}
.selectbox-2::before {
  right: 0;
  display: inline-block;
  width: 2.8em;
  height: 2em;
  border-radius: 0 10px 10px 0;
  background-color: #90AFC5;
  content: '';
}
.selectbox-2::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
}
.selectbox-2 select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 230px;
  height: 2em;
  padding: .2em 3.6em .2em .8em;
  border: 2px solid #90AFC5;
  border-radius: 10px;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}
.selectbox-2 select:focus {
  outline: 1px solid #90AFC5;
}
.cancelBtn {
  background: #763626;
  width: 110px;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1.5px #fff;
  text-align: center;
  border-radius: 10px;
  margin: 5px
}
.bottomS {
  margin-bottom: 10px;
}
.copyBtnSize {
  width: 80px;
  padding:5px 0;
}
.middleB div:first-child {
  width: 100% !important;
  height: auto;
  margin-bottom: 10px;
}

.is-open {
  max-height: 2000px;
  background: #90AFC5;
}
.longBtn {
  width: 100%;
  margin: 5px 0 10px;
  display: inline-block;
}
.snippet-content:has(#up) {
  max-height: none !important;
}
.upClick {
  min-height: 20px;
}
#up2 {
  font-size: 17px;
  width: 95%;
  min-height: 100px;
  height: auto;
  padding: 5px;
  margin: 0;
}
.inputOpen {
  font-size: 17px;
  width: 95%;
  height: 2.5em;
  padding: 5px;
  transition: height 0.3s ease;
  resize: none;
  display: block;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
textarea.inputOpen.is-text-open {
  height: 150px !important;
  overflow-y: auto;
}
p.inputOpen {
  height: auto;
  min-height: 2.5em;
  background: transparent;
  border: none;
}
/* カード内のボタンエリア */
.btnGroup {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  width: 100%;
}
.btnGroup button {
  flex: 1;
  margin: 0;
  font-size: 14px;
}
/* タイトルの文字サイズのみ */
#nm ,.main-text{
  font-size: 20px;
}
/* お気に入りの絵文字 */
.pinBtnSize {
  width: 150px;
  padding:5px 0;
}
/* PC向けのレイアウト設定 */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 350px 1fr;
    padding: 0;
    margin: 0;
  }
  h1 {
    width: 100%;
    border-radius: 0;
    grid-column: 1 / 3;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
  }
  .boxM {
    border: solid 5px #07575B;
    margin-top: 10px;
  }
  #container {
    margin-top: 25px;
}
  .wrapper {
    width: 325px;
    position: sticky;
    top: 50px;
    align-self: start;
    margin: 0 auto;
   }
  .cancelBtn {
    width: 120px;
    height: 2.5em;
    padding-left: 10px;
    margin-left: 0;
  }
}
